a:hover,a:visited{
  text-decoration : none;
}
body{
  background-color: antiquewhite;
  margin: 55px;
}
button {
  font-family: November, Arial;
}
h2 {
  font-family: November, Arial;
}    
h5 {
  padding-left: 120px;
}      
.contain2{
  padding: 15px;
}
.contain3{
  padding-top: 55px;
}
.random{
  font-size: 115%;
  font-family: Old News, Georgia;
}
.eachResult{
  padding: 5px 0px 15px 0px;
}
.title{
  font-size: 150%
} 
.desc{
  font-size: 125%
} 
#randomButton {
  margin-top: 15px;
  font-size: 130%;
}