a:link,a:hover,a:visited{
  text-decoration : none;
}
body{
  background-color: antiquewhite;
  margin-top: 55px;
}
button {
  font-family: November, Arial;
}
h2 {
  font-family: November, Arial;
}    
h5 {
  padding-left: 120px;
}  
.container{
  padding: 0px 20px;
}    
.contain2{
  padding: 15px 0px;
}
.contain3{
  padding-top: 55px;
}
.random{
  font-size: 115%;
  font-family: Old News, Georgia;
}
.eachResult{
  padding: 5px 0px 25px 0px;
}
.title{
  font-size: 160%;
} 
.desc{
  font-size: 120%;
  padding: 0px 0px 0px 10px;
} 
#randomButton {
  margin-top: 15px;
  font-size: 130%;
}
#entry{
  width: 250px;
}